<section class="contact_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
            <div class="heading_container">
            <h2>Editing Store</h2>
            </div>

            <%= render 'form', store: @store %>

            <%= link_to 'Show', @store %> |
            <%= link_to 'Back', stores_path %>
         </div>
      </div>
    </div>
  </div>
</section>
  

