<section class="contact_section layout_padding">
    <div class="cart_container">
        <div class="row">
            <%= image_tag "/assets/thankyou1.jpg", height: "300", width: "300"%>
        </div>
            
        <div class="row">
            <div class="d-flex">
                &emsp;&ensp;<%= button_to "Continue Shopping?", :controller=>"shoes", :action=>"index"%>
            </div>
        </div>
    </div>
</section>