<tr id="current_item">
    <td><%= line_item.store.brand+" "+line_item.store.name %>&ensp;</td>
    <td>₹<%= line_item.store.price%>&ensp;</td>
    <td>&ensp;<%= line_item.quantity%>&ensp;</td>
    <td class="item_price">₹<%= line_item.total_price%></td>
</tr>